<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
</head>
<body>
    <form>
        <label for="name">Task name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        <input type="submit" value="Submit" name="submit">
    </form>
    <h1>TODO List</h1>
    <ul id="task-list">
        <!-- Tasks will be injected via js here -->
    </ul>
</body>
<script src="../static/submit.js"></script>
<script src="../static/taskdisplay.js"></script>
</html>